body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;


}
.background-section{
  background: url(firefighter.jpg) no-repeat 50% 50%;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
strong {
	font-weight: 500;
}
a, a:hover, a:focus {
	text-decoration: none;
}
h1, h2 {
	margin-top: 80px;
	font-size: 38px;
    font-weight: 600;
    line-height: 50px;
}
h3 {
	font-size: 24px;
    font-weight: 400;
}
p{
  font-size: 18px;
  font-weight: 200;
}

/* Contenidos y Formulario*/

.my-content .mydescription {
    margin: 20px 0 10px 0;
}
.my-content .mydescription p {
    opacity: 0.8;
}
.myform-cont {
    margin-top: 35px;
}
.myform-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

}
.myform-top-left {
    float: left;
    width: 65%;
    padding-top: 50px;
    text-align: left;
}
.myform-top-left p {
    opacity: 0.8;
}
.logo-form {
    float: right;
    width: 14vh;
    height: auto;
    padding-top: 22px;
    opacity: 0.9;
}
.myform-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.myform-bottom .mybtn {
    width: 100%;
}
.href-volver{
  float: left;
  opacity: 0.99;
  color: #fff;
  margin-top: -5px;
}
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

button.mybtn {
    height: 50px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

}
button.mybtn:hover, button.mybtn:active {
    opacity: 0.8;
    color: #fff;
}
button.mybtn:focus {
    opacity: 0.8;
    color: #fff;
    background: #de615e;
}
